config WTK_FINGERPRINT
  bool WTK_FINGERPRINT
  default n
  help
    WTK_FINGERPRINT

config WTK_FINGERPRINT_SLSPI
  bool WTK_FINGERPRINT_SLSPI
  default n
  help
    WTK_FINGERPRINT_SLSPI
	
config WTK_FINGERPRINT_GF510
  bool WTK_FINGERPRINT_GF510
  default n
  help
    WTK_FINGERPRINT_GF510

config WTK_FINGERPRINT_GF66XX
  bool WTK_FINGERPRINT_GF66XX
  default n
  help
    WTK_FINGERPRINT_GF66XX
    
config WTK_FINGERPRINT_GFX1XM
  bool WTK_FINGERPRINT_GFX1XM
  default n
  help
    WTK_FINGERPRINT_GFX1XM

config WTK_FINGERPRINT_GFX368
  bool WTK_FINGERPRINT_GFX368
  default n
  help
    WTK_FINGERPRINT_GFX368

config WTK_FINGERPRINT_A121N
  bool WTK_FINGERPRINT_A121N
  default n
  help
    WTK_FINGERPRINT_A121N    
    
config WTK_FINGERPRINT_EFSA96S
  bool WTK_FINGERPRINT_EFSA96S
  default n
  help
    WTK_FINGERPRINT_EFSA96S