
config WTK_EPL259X
	bool "epl259x for MediaTek package"
	default n
	help
	It support different type sensor
	in this platform. If this option
	is set, it will support ambient
	and light sensor EPL259X.
